{% extends 'base.html.twig' %}

{% block title %}Hello LearnController!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Serveur/wamp64/www/symfo_1/src/Controller/LearnController.php'|file_link(0) }}">src/Controller/LearnController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Serveur/wamp64/www/symfo_1/templates/learn/index.html.twig'|file_link(0) }}">templates/learn/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
