{# templates/dashboard.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}
    <h1>Tableau de Bord</h1>

    <ul>
        <li><a href="{{ productLink }}">Liste des Produits</a></li>
        <li><a href="{{ customerLink }}">Liste des Clients</a></li>
    </ul>


    </body>
    </html>
{% endblock %}
