{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Customer</h1>
    {{ form_start(customerForm) }}
    {{ form_widget(customerForm) }}
    <!--<button type="submit">Update</button>-->
    {{ form_end(customerForm) }}
{% endblock %}
