<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>{{ message }}</h1>
    <div id="form">
        <form action="/contact" id="contactform" method="post">
            <div class="formgroup" id="form-name">
                <label for="name">Nom complet*</label>
                <input type="text" name="name" id="name" placeholder="Saisir votre nom..." required >
            </div>

            <div class="formgroup" id="form-email">
                <label for="email">E-mail*</label>
                <input type="email" name="mail" id="mail" placeholder="Saisir votre mail..." required >
            </div>

            <div class="formgroup" id="form-message">
                <label for="message">Message</label>
                <textarea name="message" id="message" placeholder="Message..."></textarea>
            </div>

            <input type="submit" value="Envoyer votre message !">
        </form>
    </div>
</body>
</html>