<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="contact">
    <h1>
        Merci {{ nom }}, votre message a été reçu. <br>
        Vous allez recevoir un mail à l'adresse suivante : {{ mail }}
    </h1>

    <bouton>
        <a href="{{ path('pages') }}">Retourner à la Page d'Accueil</a>
    </bouton>
</body>
</html>