<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details produits</title>
</head>
<body>
    <h1>Detail produit : {{ nom_product }}</h1>
    <h2>Pour le produit avec l'identifiant : {{ id_product }}</h2>
    <br>
    <p> &#x26A0;&#xFE0F; Image du produit en cours de production &#x26A0;&#xFE0F; </p>
    <br>
    <br>
    <h4>Ce produit coute {{ prix }} euros </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, aut.</p>
    <br>
    <br>
    <br>
    <br>
    <bouton>
        <a href="{{ path('pages') }}">Retourner à la Page d'Accueil</a>
    </bouton>
</body>
</html>