<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pages</title>
</head>
<body>
    <h1>Menu</h1>
    <ul>
        <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
        <li><a href="{{ path('customers_list') }}">Mes clients</a></li>
        <li><a href="{{ path('products_list') }}">Mes produits</a></li>
        <!-- Ajouter d'autres liens en utilisant la méthode Path et les noms des routes -->
    </ul>
</body>
</html>