<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/actualite.css">
    <title>Page d'Actualités</title>
</head>
<body>
    <header>
        <h1>Actualités</h1>
    </header>
    <main>
        <ul class="news-list">
            <li>
                <h2>Titre de l'actualité 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta?</p>
            </li>
            <li>
                <h2>Titre de l'actualité 2</h2>
                <p>At Zeno enim id, quod quaerimus, vitam voluptatem ducimus. Quae est igitur, inquit, sit iniquitas? Ne in odium veniam, si amicum destitero tueri. Ergo ita: non posse honeste vivi, nisi honeste vivatur?</p>
            </li>
            <li>
                <h2>Titre de l'actualité 3</h2>
                <p>Quae contraria sunt his, malane? Quamquam ab iis philosophiam et omnes ingenuas disciplinas habemus; Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus gratiam. In qua quid est boni praeter summam voluptatem, et eam sempiternam?</p>
            </li>
        </ul>
    </main>
</body>
</html>
