<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <h1>Cash Money Converter Transfert Exchange</h1>
</header>
<div>
    {% block body %}{% endblock %}
</div>
<footer>
    <p>By Money</p>
</footer>
</body>
</html>