{# templates/dashboard.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord</title>
</head>
<body>
<h1>Tableau de bord</h1>
<ul>
    <li><a href="{{ path('products') }}">Page des produits</a></li>
    <li><a href="{{ path('customers_list') }}">Page des clients</a></li>
</ul>
</body>
</html>