{% extends 'base.html.twig' %}

{% block title %}Détails du Produit{% endblock %}

{% block body %}
    <h1>Détails du Produit</h1>
    <ul>
        <li>Nom : {{ product.name }}</li>
        <li>Prix : {{ product.price }} euros</li>
        <li>Description : {{ product.description }}</li>
    </ul>
    <a href="{{ path('products') }}">Retour à la liste des produits</a>
{% endblock %}
