{# templates/product.html.twig #}
<h2>Liste des produits :</h2>
<ul>
    {% for product in products %}
        <li>
            {{ product.name }}<br>Prix : {{ product.price }} €
            <a href="{{ path('product_detail', {'id': loop.index}) }}">Détails</a>
        </li>
    {% else %}
        <li>Aucun produit trouvé.</li>
    {% endfor %}
    <br><a href="{{ path('dashboard') }}">Retour au tableau de bord</a>
</ul>

