{# templates/pages.html.twig #}

<ul>
    <li><a href="{{ path('products_list') }}">Mes produits</a></li>
    <li><a href="{{ path('customers_list') }}">Mes clients</a></li>
    <!-- Ajouter d'autres liens en utilisant la méthode Path et les noms des routes -->
</ul>
