<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Client!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
    {% block body %}
    
    {# templates/product.html.twig #}
    <h2>Liste de client :</h2>
    <ul>
        {% for customer in Customers %}
        <li>{{ loop.index }} - {{ customer.name }} à {{ customer.âge }} ans</li>
        {% else %}
        <li>Aucun client trouvé.</li>
        {% endfor %}
    </ul>
    
    {% endblock %}
</body>
</html>
